---
permalink: /index.html
layout: main
title: Traineeship 
bgimage: assets/images/Tprime-200pu-PhaseII-black-arctic-main-image.jpg
---

<div class="mainpage-all">
<div class="mainpage-main mainpage-container">
<div class="mainpage-intro mainpage-core">

<h4>Computational and data science research to enable discoveries in fundamental physics</h4>

{% capture irishead %}
TAC-HEP is a recently funded multi-institutional (Princeton, UMass and UW-Madison) program in Computational High Energy Physics. [Full Overview](/about/overview.html)
{% endcapture %}
{{ irishead | markdownify }}

</div>


<div class="mainpage-news mainpage-core">
<h4>News and Featured Stories:</h4>

<div class="container-fluid">
  <div class="news row">
    {% for post in site.posts limit:4 %}
       <div class="card news">
          <a href="{{post.url}}">
            <img class="card-img-top" src="{{post.image}}" {% if post.image-whole -%} style="object-fit:scale-down;" {% endif -%} alt="Card image cap">
          </a>
          <div class="card-body d-flex flex-column">
            <div class="card-text card-title">
               <a href="{{post.url}}">{{post.title}}</a>
            </div>
            <div class="card-text card-body">
              {% if post.summary %}
                  {{ post.summary | markdownify }}
              {% else %}
                  {{ post.excerpt | strip_html }}
              {% endif %}
            <a href="{{post.url}}">Read more</a></div>
          </div>
       </div>
    {% endfor %}
  </div>
</div>

<a href="/news.html">View all past news items</a>
</div>

<div class="mainpage-sidebar mainpage-container">
<div class="mainpage-events mainpage-core">

{% comment %}
Go through the list and produce a list of upcoming events as well as a
list of events in the past 90 days. Treat 6 days ago as "now" so that
ongoing events don't get prematurely flagged as recent.
{% endcomment %}

<div class="mainpage-sidebar-text">
<h4>Upcoming Events:</h4>
</div>




</div>
</div>
</div>
</div>

